*{
  margin: 0;
  padding: 0%;
}

.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator{
  height: 445px;
  max-width: 460px;
  border-radius: 5px;
  background-color: gray;
  border: 5px solid rgb(63, 63, 63);
}

.output{
  height: 90px;
  background: #111;
  border-radius: 15px;
  margin: 1rem;
}

.keys{
  gap: 10px;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.keys button:first-child{
  color: #ffff;
  grid-column-end: 3;
  grid-column-start: 1;
  background-color: rgb(197, 106, 106);
}

.keys button:nth-child(15){
  color: #ffff;
  grid-row: 4/6;
  grid-column: 4/4;
  background-color: rgb(77, 160, 77);
}

.keys button:nth-child(16){
  grid-column-start: 1;
  grid-column-end: 3;
}
.input, .result{
  color: #fff;
  height: 40px;
  display: block;
  font-size: 40px;
  text-align: right;
}

button{
  padding: 0.5rem;
  border: none;
  border-radius: 15px;
  font-size: 28px;
  min-width: 80px;
}
